img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
}

h3 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
}

p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
}